/* ............................................................................................................. */
                                                /* NOTES */
/* ............................................................................................................. */

/* ............................................................................................................. */
                                              /* @IMPORTS  */
/* ............................................................................................................. */

/* ............................................................................................................. */
                                               /* @MEDIA  */
/* ............................................................................................................. */

@media screen and (min-width:400px) {
    body {
        display: flex;
        flex-direction: column;
        
    }
    .plugins,.theme,.style {
        width: 100%;
        text-align: center;
        border: 2px solid black;
    }

}

@media screen and (min-width:1200px) {
    body {
        display: flex;
        flex-direction: row;
    }
    .plugins,.theme,.style {
        width: 30w;
    }


/* ............................................................................................................. */
                                            /* STYLE GENERAL */
/* ............................................................................................................. */
body {
    margin: 0;
    padding: 0;
}
/* ............................................................................................................. */
                                         /* STYLE DES CLASSES  */
/* ............................................................................................................. */

/* ............................................................................................................. */
                                            /* STYLE DES ID */
/* ............................................................................................................. */

/* ............................................................................................................. */
                                           /* STYLES ANNEXES  */
/* ............................................................................................................. */

/* ............................................................................................................. */
                                             /* REMARQUES  */
/* ............................................................................................................. */